/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;
}

h1 {
  background-color: whitesmoke;
  border: 5px solid dodgerblue;
  text-align: center;
}

.siteName a{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    font-size: 30px;
    border-style: solid;
    margin: 15px;
    border-color: dodgerblue;
}

#tools a{
  background-color: whitesmoke;
  border-style: solid;
  border-color: dodgerblue;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
}

nav {
  background-color: black;
  border-color: dodgerblue;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style-position: inside;
  padding-left: 0;
}

nav li{
  list-style: none;
  font-size: 15px;
  padding: 10px;
}

nav li:hover {
  background-color: dodgerblue;
  border-radius: 10px;
}

nav li a{
  color: aliceblue;
  text-decoration: none;
  font-size: 25px;
}

.card1 {
  border-top: 5px solid dodgerblue;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
  border-bottom: 2.5px solid dodgerblue;
}

.card2 {
  background-color: whitesmoke;
  border-top: 2.5px solid dodgerblue;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
  border-bottom: 2.5px solid dodgerblue;
  padding-left: 20px;
}

.card3 {
  background-color: whitesmoke;
  border-top: 2.5px solid dodgerblue;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
  border-bottom: 5px solid dodgerblue;
  padding-left: 20px;
  max-width: 100%;
}

.owntoday {
  width: 150px;
}

.upgrades-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
}

.upgrades-container p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-top: 5px solid dodgerblue;
  border-bottom: 5px solid dodgerblue;
  border-radius: 10px;
}

.upgrades-container h2 {
  grid-column: span 2;
  background-color: whitesmoke;
  border-bottom: 5px solid dodgerblue;
  padding: 10px;
}

footer {
  background-color: whitesmoke;
  border: 5px solid dodgerblue;
  text-align: center;
  max-width: 100%;
  font-size: 20px;
  padding: 15px;
}

@media (min-width: 1024px) {
  .bg-checker {
    background-image: url('/images/site/small_check.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 70em;
    margin-inline: auto;
    padding-block: 25px
  }
}